@import "../Button/buttons";

.button[data-store-buy-button] {
  color: var(--color-text-inverse);
  background-color: #333056;

  &:hover { background-color: #201e3e; }

  &:active { background-color: #201e3e; }

  &:disabled {
    color: var(--color-neutral-6);
    background-color: var(--bg-disabled);
  }
}
