@import "src/styles/scaffold";

.cart-toggle[data-store-icon-button] {
  position: relative;
  padding: var(--space-2);
  margin-left: var(--space-3);
  border: 2px solid var(--color-neutral-0);
  border-radius: var(--border-radius-circle);

  svg {
    filter: invert(1);
  }

  &::after {
    --cart-toggle-size: var(--space-3);

    position: absolute;
    top: rem(6px);
    left: rem(26px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--cart-toggle-size);
    height: var(--cart-toggle-size);
    padding: var(--space-0);
    font-size: var(--text-size-0);
    font-weight: var(--text-weight-bold);
    color: var(--color-text-inverse);
    background: var(--bg-secondary-default);
    border-radius: var(--border-radius-pill);

    // content: attr(data-items);
  }

  &:hover {
    background-color: transparent;
  }
}
