@import "src/styles/scaffold";

.cart-toggle[data-store-icon-button] {
  position: relative;
  padding: var(--space-2);
  margin-left: var(--space-3);
  color: var(--color-neutral-0);
  cursor: pointer;
  border: 2px solid var(--color-neutral-0);
  border-radius: var(--border-radius-circle);

  &::after {
    --cart-toggle-size: var(--space-3);

    position: absolute;
    top: -9px;
    right: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    content: attr(data-items);
    background: #de68d1;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  }

  &:hover {
    background-color: transparent;
  }
}
