.frn-headerBanner {
  background: linear-gradient(95.73deg, rgb(97 92 149 / 37%) -0.88%, rgb(97 92 149 / 0%) 100%);
  backdrop-filter: blur(21px);

  &__grid-content {
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--page-padding-notebook);
    margin-left: calc((100vw - var(--breakpoint-notebook)) / 2);
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: right;
    justify-content: center;
    order: 0;
    max-width: 374px;
    padding: 0;
    margin-top: var(--page-padding-notebook);
    margin-right: 138px;
    margin-bottom: var(--page-padding-notebook);

    h3 {
      margin-bottom: 15px;
      font-size: 32px;

      // font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      line-height: 39px;
      color: #ffffff;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;

      // font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      color: #ffffff;
      text-transform: capitalize;
    }
  }

  &__image {
    flex-grow: 1;
    height: 200px;
    background-color: burlywood;
  }
}
