.frn-headerBanner {
  background: rgb(255 255 255 / 20%);
  backdrop-filter: blur(21px);

  &__grid-content {
    display: flex;
    flex-direction: column-reverse;

    @include media(">=notebook") {
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      padding-left: var(--page-padding-notebook);
      margin-left: calc((100vw - var(--breakpoint-notebook)) / 2);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: right;
    justify-content: center;
    order: 0;
    padding: 0;
    margin: var(--page-padding-notebook);

    @include media(">=notebook") {
      max-width: 374px;
      margin-right: 138px;
    }

    h3 {
      margin-bottom: 15px;
      font-size: 32px;

      // font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      line-height: 39px;
      color: #ffffff;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;

      // font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      color: #ffffff;
      text-transform: capitalize;
    }
  }

  &__image {
    flex-grow: 1;
    height: 200px;
    background-color: burlywood;
  }
}
