@import "src/styles/scaffold";

.filter[data-store-filter] {
  @include media(">notebook") {
    font-size: 14px;
    color: rgb(255 255 255 / 50%);
  }

  > .title-small {
    display: flex;
    align-items: center;
    height: var(--product-listing-row-height);
    margin-bottom: var(--space-0);

    @include media("<notebook") {
      display: none;
    }
  }

  [data-store-accordion] {
    [data-store-list] {
      padding-bottom: var(--space-3);

      li:not(:last-child) {
        margin-bottom: var(--space-3);
      }
    }

    @include media(">=notebook") {
      // border: 1px solid var(--color-border-display);
      // border-radius: var(--border-radius-default);
    }
  }

  [data-accordion-item] {
    padding-bottom: 10px;

    @include media("<notebook") {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  [data-accordion-item] [data-store-button] {
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-regular);
    line-height: 1.5;

    @include media("<notebook") {
      color: #fff;
    }

    @include media(">=notebook") {
      padding: 16px 0;
      font-family: var(--sans-serif);
      font-size: 20px;
      font-weight: 700;
      line-height: 1.25;
    }

    [data-store-icon] [data-icon] {
      display: none;
    }

    [data-store-icon] [data-icon="expanded"] {
      display: initial;
    }

    [data-store-icon] [data-icon="collapsed"] {
      display: initial;
    }
  }
}

.filter__item {
  display: flex;
  align-items: center;

  [data-store-checkbox] {
    flex-shrink: 0;
    border-width: 1px;

    @include media(">notebook") {
      width: rem(15px);
      height: rem(15px);
      border-color: #ffffff;
      border-radius: 5px;
    }
  }

  [data-store-label] {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: var(--space-1);

    @include media(">notebook") {
      margin-left: 13px;
    }

    @include media("<notebook") {
      color: #fff;
    }
  }

  [data-store-badge] {
    margin-left: var(--space-1);

    @include media(">notebook") {
      margin-left: 15px;

      span {
        font-weight: 500;
      }
    }
  }
}

.filter-modal__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filter-modal__button {
    margin-right: calc(-1 * var(--space-1));
  }
}

.filter-modal__body {
  --filter-footer-height: 80px;

  height: calc(100vh - var(--filter-footer-height));
  padding: var(--page-padding-phone) var(--page-padding-phone) calc(var(--filter-footer-height) + var(--space-3));
  overflow-y: auto;

  @include media("<notebook") {
    .title-display {
      color: #fff;
    }
  }
}

.filter-modal__footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--space-3);
  background-color: var(--bg-neutral-lightest);
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);

  .button {
    &[data-button-variant="secondary"] {
      width: 40%;
      margin-right: var(--space-3);
    }

    &[data-button-variant="primary"] {
      width: 60%;
    }
  }
}
