[data-store-alert] {
  display: flex;
  align-items: center;
  min-height: var(--space-7);
  padding-left: var(--space-3);
  font-size: var(--text-size-1);
  color: var(--color-secondary-4);
  background-color: var(--bg-primary-light);

  [data-store-icon] {
    padding-right: var(--space-1);
    margin: 0;
  }

  [data-alert-content] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span { font-weight: var(--text-weight-bold); }

  [data-alert-link] {
    min-width: var(--space-8);
    min-height: var(--space-7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      display: inline-flex;
      align-items: center;
      min-width: var(--space-7);
      min-height: var(--space-7);
      padding: 0 var(--space-1);
      font-weight: var(--text-weight-bold);
      color: var(--color-secondary-4);

      &:visited { color: var(--color-secondary-4); }
    }
  }

  [data-alert-button] {
    min-width: var(--space-7);
    min-height: var(--space-7);
    margin-left: auto;
    color: var(--color-secondary-4);
    background-color: transparent;
    border: none;

    &:hover { background-color: var(--bg-darken-hover); }
  }
}
