@import "src/styles/scaffold";

[data-modal-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: var(--color-black-transparent-50);
  backdrop-filter: blur(14px);
}

[data-slide-over] {
  position: fixed;
  height: 100vh;
}

[data-slide-over-size="full"] {
  width: 100vw;
}

[data-slide-over-size="partial"] {
  --gap-out: 48px;

  width: 100vw;

  @include media(">=notebook") {
    width: 23%;

    // max-width: calc(var(--breakpoint-notebook) / 3);
  }
}

[data-slide-over-direction="leftSide"] {
  left: 0;
}

[data-slide-over-direction="leftSide"][data-slide-over-state="in"] {
  transition: transform .25s ease-in;
  transform: translateX(0);

  &.navbar__modal-content {
    background: linear-gradient(95.73deg, rgb(97 92 149 / 37%) -0.88%, rgb(97 92 149 / 0%) 100%);
    backdrop-filter: blur(21px);

    [data-store-icon-button] {
      svg {
        color: var(--color-neutral-0);
      }
    }
  }
}

[data-slide-over-direction="leftSide"][data-slide-over-state="out"] {
  transition: transform .25s ease-out;
  transform: translateX(-100%);
}

[data-slide-over-direction="rightSide"] {
  right: 0;
}

[data-slide-over-direction="rightSide"][data-slide-over-state="in"] {
  transition: transform .25s ease-in;
  transform: translateX(0);
}

[data-slide-over-direction="rightSide"][data-slide-over-state="out"] {
  transition: transform .25s ease-out;
  transform: translateX(100%);
}
