@import "src/styles/scaffold";

[data-store-icon-button] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--svg-min-size);
  height: var(--svg-min-size);
  color: var(--color-neutral-0);
  background-color: transparent;
  border: 0;
  border-radius: var(--border-radius-button);
  transition: background-color .5s ease;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include focus-ring-visible;

  &:disabled, &[data-button-disabled="true"] {
    color: var(--color-text-disabled);
    background-color: var(--bg-disabled);
  }
}
