@import "../../../styles/utilities";

[data-store-button] {
  border-radius: var(--border-radius-button);
  transition: background-color .5s ease, box-shadow .5s ease;

  @include focus-ring-visible;
}

.button[data-store-button], .link-button[data-store-button] {
  display: inline-flex;
  column-gap: var(--space-2);
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: 0;

  &:disabled, &[data-button-disabled="true"] {
    cursor: not-allowed;
    svg { color: var(--color-neutral-5); }
  }

  &[data-button-variant="primary"] {
    min-height: var(--tap-min-size);
    max-height: var(--tap-min-size);
    padding: 0 20px;
    color: var(--color-text-inverse);
    background-color: var(--bg-secondary-default);

    &:hover, &:focus { background-color: var(--bg-secondary-hover); }

    &:active { background-color: var(--bg-secondary-pressed); }

    &[data-button-inverse] {
      color: var(--color-neutral-0);
      background-color: var(--color-theme-2);

      &:hover, &:focus {
        color: var(--color-theme-2);
        background-color: var(--color-neutral-0);
      }

      &:active { background-color: var(--color-secondary-1); }
    }
  }

  &[data-button-variant="secondary"] {
    min-height: var(--tap-min-size);
    padding: 13px 27px;
    color: var(--color-theme-2);
    background-color: transparent;
    border: var(--border-width-2) solid var(--color-theme-2);

    &:hover, &:focus {
      color: var(--color-text-inverse);
      background-color: var(--bg-secondary-default);
      border: var(--border-width-2) solid var(--color-primary-4);
    }

    &:active {
      background-color: var(--bg-secondary-hover);
      border-color: var(--bg-secondary-hover);
    }

    &[data-button-inverse] {
      color: var(--color-text-inverse);
      border-color: var(--color-border-light);

      &:hover, &:focus {
        color: var(--color-text-display);
        background-color: var(--bg-neutral-lightest);
      }
      &:active { background-color: var(--bg-secondary-light); }
    }
  }

  &[data-button-variant="tertiary"] {
    &[data-button-signin-link] {
      width: 40px;
      height: 40px;
      min-height: inherit;
      padding: 0;
      color: var(--color-neutral-0);
      background-color: transparent;
      border: 2px solid var(--color-neutral-0);
      border-radius: var(--border-radius-circle);
    }

    &:hover, &:focus { text-decoration: underline; }

    &:active {
      color: var(--color-text-display);
    }

    &[data-button-inverse] {
      padding: 7px 13px;
      color: var(--color-text-inverse);
      border: var(--border-width-2) solid var(--color-neutral-0);

      &:hover, &:focus {
        color: var(--color-text);
        background-color: var(--color-neutral-0);
      }

      &:active { background-color: var(--color-secondary-1); }
    }
  }

  &[data-button-variant] {
    &:disabled, &[data-button-disabled="true"] {
      color: var(--color-text-disabled);
      background-color: var(--bg-disabled);
      border: 0;
    }
  }

  [data-store-icon] {
    display: flex;
  }
}

.link-button[data-store-button] {
  &:hover {
    text-decoration: none;
  }

  &[data-button-disabled="true"]:active {
    pointer-events: none;
  }
}
