@import "src/styles/scaffold";

.product-grid {
  --gap: 2px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);

  @include media(">=notebook") {
    --gap: var(--grid-gap-0);

    $pagination-start-index: 2;

    grid-template-columns: repeat(4, 1fr);

    &:nth-of-type(n + #{$pagination-start-index}) {
      margin-top: var(--gap);
    }
  }

  @include media("<notebook") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    background-color: #33305633;

    @include media("<notebook") {
      min-width: inherit;
      max-width: 45%;
      margin-bottom: 18px;
      overflow: hidden;
      background-color: inherit;
    }
  }
}
