@import "src/styles/scaffold";

[data-store-search-input] {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: var(--tap-min-size);

  @include media(">=notebook") { height: auto; }

  [data-store-input] {
    width: 100%;
    height: 50px;
    padding: var(--space-3) var(--space-7) var(--space-3) var(--space-4);
    color: var(--color-white-transparent-50);
    background: inherit;
    border: var(--border-width-0) solid var(--color-border-input);
    border-radius: var(--border-radius-input);
    transition: box-shadow .2s ease, border .2s ease;
  }

  [data-store-icon] {
    display: block;
  }

  [data-store-button] {
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border: 2px solid var(--color-neutral-0);
    border-radius: var(--border-radius-input);

    @include media(">=notebook") {
      position: absolute;
      right: 0;
      width: 147px;
      height: 50px;
      min-height: var(--space-6);
      background-color: var(--color-neutral-0);
      border: 0;
    }

    span {
      display: block;

      @include media(">=notebook") {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--space-4);
      }

      &::before {
        display: block;
        font-family: var(--sans-serif);
        font-size: var(--text-size-1);
        font-weight: 500;

        @include media(">=notebook") {
          content: "pesquisar";
        }
      }
    }
  }

  [data-store-button] svg {
    width: var(--space-4);
    height: var(--space-4);
    color: var(--color-neutral-7);
  }
}
