@import "src/styles/scaffold";

.navbar {
  padding: 0;
  background: rgb(34 31 65 / 30%);
  backdrop-filter: blur(14px);

  [data-store-search-input] {
    flex: 1 0 100%;
    order: 2;

    @include media("<notebook") {
      display: none;
    }
  }
}

.navbar__row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include media(">=notebook") {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 37.5rem) 1fr;
  }
}

.navbar__menu[data-store-button] {
  width: auto;
  height: auto;
  padding: 0;

  span {
    color: var(--color-neutral-0);

    &::after {
      margin-left: var(--space-1);
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      color: var(--color-neutral-0);
      letter-spacing: 0.01em;
      content: "Menu";
    }
  }

  @include media(">=notebook") {
    display: none;
  }
}

.navbar__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .navbar__collapse {
    margin-left: calc(-1 * var(--space-3));
  }

  .signin-link[data-button-signin-link] {
    display: none;
  }

  @include media(">=notebook") {
    order: 2;

    .signin-link[data-button-signin-link] {
      display: inline-flex;
    }
  }

  [data-store-search-input] {
    display: none;
    transition: flex 0.3s ease-in;

    @include media("<notebook") {
      display: flex;
      flex: inherit;
      align-items: center;
      justify-content: center;
      order: 0;
      width: min-content;

      [data-store-input] {
        width: 0;
        padding: 0;
        border-width: 0;

        &:hover,
        &:focus,
        &:focus-visible &:hover:focus-visible {
          border-width: 0;
          box-shadow: 0 0;
        }
      }

      [data-store-icon] {
        margin-right: 0;
        line-height: 0;

        svg {
          width: 22px;
          height: 22px;
          color: var(--color-neutral-0);
        }
      }
    }
  }

  &[data-store-search-expanded="true"] {
    width: 100%;

    [data-store-search-input] {
      flex: 1 1;
      margin-right: 0.625rem;

      [data-store-input] {
        width: calc(100% - var(--space-7));
      }

      [data-store-icon] {
        margin-right: 0;
      }
    }

    .cart-toggle {
      margin-right: -4.063rem;
      transition: margin 0.3s ease-in;
    }
  }
}

.navbar__header {
  padding-top: var(--space-1);
  padding-bottom: var(--space-2);
  overflow: hidden;

  @include media(">=notebook") {
    padding: var(--space-4) 0;
  }

  @include media("<notebook") {
    +.navlinks__list {
      display: none;
    }
  }
}

.navbar__logo {
  // width: 11rem;
  // height: 2.375rem;
  min-height: 2.375rem;
  padding: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.navbar__modal-body {
  padding: var(--page-padding-phone);
}

.navbar__modal-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-2);

  .navbar__button {
    margin-right: calc(-1 * var(--space-1));
  }
}

.navlinks {
  .navlinks__signin {
    display: flex;
    align-items: center;
    padding-top: var(--space-2);
    margin-top: var(--space-2);

    &::after {
      margin-left: var(--space-1);
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      color: var(--color-neutral-0);
      letter-spacing: 0.01em;
      content: "Minha Conta";
    }

    .signin-link[data-button-signin-link] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      min-height: inherit;
      padding: 0;

      @include media(">=notebook") {
        display: none;
      }
    }
  }
}

.navlinks__list {
  padding: 0;

  @include media(">=notebook") {
    background: rgb(34 31 65 / 40%);
    backdrop-filter: blur(14px);

    ul {
      display: flex;
      column-gap: var(--space-3);
      padding-top: var(--space-1);

      li {
        margin-right: var(--space-5);

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      width: auto;
      padding: var(--space-2) 0;
    }
  }

  .grid-content {
    padding: 0;
  }

  a {
    display: block;
    width: 100%;
    font-size: var(--text-size-1);
    font-weight: var(--text-weight-black);
    line-height: var(--space-3);
    color: var(--color-neutral-0);
    text-transform: lowercase;

    &:visited {
      color: var(--color-neutral-0);
    }
  }
}
