.frn-favoriteProducts {
  background: linear-gradient(267.21deg, rgb(51 48 86 / 0%) 0%, rgb(222 104 209 / 44%) 100%);
  backdrop-filter: blur(14px);

  &__grid-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--page-padding-notebook);
    padding-bottom: var(--page-padding-notebook);

    @include media(">=notebook") {
      flex-direction: row;
      padding-right: 0;
      margin-left: calc((100vw - var(--breakpoint-notebook)) / 2);
    }

    @include media("<notebook") {
      padding-right: 0;
      margin-left: calc((100vw - var(--breakpoint-phonemid)) / 6);
    }
  }

  &__children {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    padding-right: var(--page-padding-notebook);
    text-align: left;

    @include media(">=notebook") {
      max-width: 250px;
      margin-right: 57px;
    }

    &-infos {
      margin-bottom: 45px;
    }

    h3 {
      flex: none;
      flex-grow: 0;
      order: 0;
      font-size: 30px;

      // font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      line-height: 37px;
      color: #ffffff;
    }

    p {
      flex: none;
      flex-grow: 0;
      order: 1;
      margin: 10px 0;
      font-size: 16px;

      // font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      color: #ffffff;
    }
  }

  &__productShelf {
    width: 100%;
    height: 339px;
    margin: 33px 0;
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(14px);
  }

  [data-store-button] {
    border-radius: 60px;
  }

  .link-button[data-store-button][data-button-variant="secondary"] {
    background-color: var(--color-neutral-0);
  }
}
